# EditorConfig settings for RStudio. Some editors will read these automatically;
# Copy from Mlr + some modifications
# See http://editorconfig.org
root = true

[*]
charset = utf8
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true

[*.{r,R}]
indent_size = 2

[{.travis.yml}]
indent_size = 2

[{DESCRIPTION}]
max_line_length = 80